
div{
    background-color: #fff;
    background-image: url(../img/carousel-1.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    ma
    
}